@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.bg-blues {
  background-color: #04A6FE; 
}

.text-blues {
  color: #04A6FE
}

.form-signin {
  max-width: 350px;
  padding: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #04A6FE;
  border: 2px solid #04A6FE;
}

.btn-outline-info{
  border-color: #04A6FE;
}

.btn-outline-info {
  border-radius: 10px;
  border: 2px solid #04A6FE;
  color: #17a2b8;
  border-color: #17a2b8;
}
.btn-outline-info:hover {
  color: #fff;
  background-color: #04A6FE;
  border-radius: 10px;
  border: 2px solid #04A6FE;
}

.form-control:focus {
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(4, 166, 254, 1);
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}

body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}



/* Multi Step Form */

.form{
  /* width: clamp(360px, 30%, 430px); */
  width: clamp(550px, 30%, 430px);
  margin: 0 auto;
  border: none;
  border-radius: 10px !important;
  overflow: hidden;
  padding: 1.5rem;
  background-color: #fff;
  padding: 20px 30px
}


.progressbar{
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem
}

.progressbar::before, .progress{
  content: "";position: absolute;
  top: 50%;transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: 1
}

.progress{
  background-color: #04A6FE;
  width: 0%;
  transition: 0.3s
}

.progress-30{
  background-color: #04A6FE;
  width: 0%;
  transition: 0.3s
}


.progress-step{
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1
}

.progress-step::before{
  counter-increment: step;
  content: counter(step)
}

.progress-step::after{
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666
}

.progress-step-active{
  background-color: #04A6FE;
  color: #f3f3f3
}

.step-forms{
  display: none;
  transform-origin: top;
  animation: animate 1s
}

.step-forms-active{
  display: block
}


.ml-auto{
  margin-left: auto
}

.width-50{
  width: 50%
}

.btns-group{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem
}

.btn{
  display: block;
}


@keyframes animate{
  from{
      transform: scale(1, 0);
      opacity: 0
  }
  to{
      transform: scale(1, 1);opacity: 1
  }
}


.progress-step-check{
  position: relative;
  background-color: #04A6FE !important;
  transition: all 0.8s
}

.progress-step-check::before{
  position: absolute;
  content: '\2713';
  width: 100%;
  height: 100%;
  top: 8px;
  left: 13px;
  font-size: 12px
}

.welcome{
  height: 450px;
  width: 350px;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center
}

.welcome .content{
  display: flex;
  align-items: center;
  flex-direction: column
}

.checkmark__circle{
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check{
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}



/* Dashboard */
.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}


@media (max-width: 640px) {
  .w-sm-100 {
    width: 100%;
  }
}
